#!/bin/bash
# Brewfile hash: {{ include "Brewfile" | sha256sum }}
# Installs packages via Homebrew Bundle
if command -v brew &>/dev/null; then
    brew bundle --file={{ .chezmoi.sourceDir }}/Brewfile --force
fi
